{# @var data string[] #}
{% if data is empty %}
    {{ 'setono_sylius_catalog_promotion.ui.all'|trans }}
{% else %}
    <ul class="ui list">
        {% for item in data %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endif %}
